--- 
# required metadata 
 
title: Employment verification i9 verification
description: The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees. 
author: ShielaSogge
manager: AnnBe 
ms.date: 08/29/2018
ms.topic: business-process 
ms.prod:  
ms.service: dynamics-ax-applications 
ms.technology:  

# optional metadata 

ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document   
audience: Application User 
# ms.devlang:  
ms.reviewer: kfend
ms.search.scope: Core, Operations 
# ms.tgt_pltfrm:  
# ms.custom:  
ms.search.region: Global
# ms.search.industry: 
ms.author: shielas
ms.search.validFrom: 2016-06-30 
ms.dyn365.ops.version: Version 7.0.0

---
# Employment verification i9 verification

[!include [banner](../../../includes/banner.md)]

The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees. This procedure will walk you through the steps of recording the necessary documents for I-9 verification. Use the USMF company for this procedure.

1. Go to Human resources > Workers > Employees.
2. Use the Quick Filter to find records. For example, filter on the Name field with a value of 'Vince'.
3. Select the employee. Example: Vince Prado
4. Expand the Personal information FastTab.
5. Click Identification numbers.
6. Click New.
7. Select the identification type that you are recording. Example: Passport
8. In the Number field, type a value.
9. Select Yes in the Primary field.
10. In the Description field, enter a brief description of the identification record..
11. In the issuing agency select the agency that issued the form of identification to the worker. Example: Government
12. Enter the date that the issuing agency issued the form of identification to the worker. Example: 02/15/2011
13. Enter the date when the form of identification expires. Example: 2/15/2021
14. Click Save.
15. Close the page.
16. Click the Employment tab.
17. Click I-9.
18. Click New.
19. In the Work eligibility field, select an option.
    * If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.  
20. Select the GroupListA option.
    * The list that you select depends on what form of identification the worker provided. A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected. However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.  
21. In the I-9 document type field, select the type of document that the worker provided.
22. In the Document number field, enter or select a value.
23. Click Save.

