# Testing the new code owners feature in GitHub. Please contact DAX Content Publishing FTEs if you have questions.

/articles/fin-ops-core/dev-itpro	@sericks007
/articles/fin-ops-core/dev-itpro/analytics	@sericks007
/articles/fin-ops-core/dev-itpro/business-events @sericks007
/articles/fin-ops-core/dev-itpro/data-entities	@sericks007
/articles/fin-ops-core/dev-itpro/data-entities/dual-write	@robinarh
/articles/fin-ops-core/dev-itpro/database	@sericks007
/articles/fin-ops-core/dev-itpro/deployment	@sericks007 
/articles/fin-ops-core/dev-itpro/dev-ref @robinarh
/articles/fin-ops-core/dev-itpro/dev-tools @robinarh
/articles/fin-ops-core/dev-itpro/extensibility @robinarh
/articles/fin-ops-core/dev-itpro/financial @robinarh
/articles/fin-ops-core/dev-itpro/gdpr @robinarh
/articles/fin-ops-core/dev-itpro/get-started	@sericks007
/articles/fin-ops-core/dev-itpro/help @sericks007
/articles/fin-ops-core/dev-itpro/includes @robinarh
/articles/fin-ops-core/dev-itpro/lcs-solutions	@sericks007
/articles/fin-ops-core/dev-itpro/lifecycle-services	@sericks007
/articles/fin-ops-core/dev-itpro/media	@sericks007
/articles/fin-ops-core/dev-itpro/migration-upgrade	@sericks007
/articles/fin-ops-core/dev-itpro/mobile-apps	@sericks007
/articles/fin-ops-core/dev-itpro/mobile-apps/platform	@robinarh
/articles/fin-ops-core/dev-itpro/office-integration	@sericks007
/articles/fin-ops-core/dev-itpro/perf-test	@robinarh
/articles/fin-ops-core/dev-itpro/power-platform	@sericks007
/articles/fin-ops-core/dev-itpro/process-automation	@robinarh
/articles/fin-ops-core/dev-itpro/sysadmin	@sericks007
/articles/fin-ops-core/dev-itpro/user-interface	@sericks007
/articles/fin-ops-core/fin-ops @robinarh
/articles/fin-ops-core/fin-ops/get-started @sericks007
/articles/fin-ops-core/fin-ops/hr @andreabichsel
/articles/fin-ops-core/fin-ops/imp-lifecycle @sericks007
/articles/fin-ops-core/fin-ops/includes @sericks007
/articles/fin-ops-core/fin-ops/organization-administration @sericks007
/articles/finance	@roschlom
/articles/finance/accounts-payable	@roschlom
/articles/finance/asset-leasing	@roschlom
/articles/finance/budgeting	@roschlom
/articles/finance/cash-bank-management	@roschlom
/articles/finance/cost-accounting	@roschlom @josaw
/articles/finance/expense-management	 @roschlom
/articles/finance/fixed-assets	 @roschlom
/articles/finance/general-ledger 	@roschlom
/articles/finance/get-started 	@roschlom
/articles/finance/includes 	@roschlom
/articles/finance/localizations	@kfend
/articles/finance/project-management	@kfend
/articles/finance/public-sector	@roschlom
/articles/fin-and-ops/get-started	@sericks007 @kfend
/articles/fin-and-ops/hr	@andreabichsel
/articles/fin-and-ops/hr/localizations	@kfend
/articles/fin-and-ops/imp-lifecycle	@kfend
/articles/fin-and-ops/organization-administration	@sericks007
/articles/human-resources @andreabichsel
/articles/commerce	@josaw1
/articles/commerce/dev-itpro  @robinarh
/articles/commerce/e-commerce-extensibility	@josaw1
/articles/commerce/get-started	@josaw1
/articles/commerce/localizations	@josaw1
/articles/commerce/includes	@josaw1
/articles/commerce/media	@josaw1
/articles/commerce/tasks	@josaw1
/articles/supply-chain @kamaybac
/articles/supply-chain/asset-management @kamaybac
/articles/supply-chain/cost-management  @kamaybac
/articles/supply-chain/get-started  @kamaybac
/articles/supply-chain/includes  @kamaybac
/articles/supply-chain/inventory	 @kamaybac
/articles/supply-chain/iot @kamaybac
/articles/supply-chain/localizations	 @kamaybac
/articles/supply-chain/master-planning	 @kamaybac
/articles/supply-chain/pim	 @kamaybac
/articles/supply-chain/procurement	 @kamaybac
/articles/supply-chain/production-control	 @kamaybac
/articles/supply-chain/sales-marketing	 @kamaybac
/articles/supply-chain/service-management	 @kamaybac
/articles/supply-chain/transportation	 @kamaybac
/articles/supply-chain/warehousing	 @kamaybac
/articles/talent @andreabichsel

