---
# required metadata

title: Form I-9 verification
description: This article provides information about Form I-9 verification.
author: ShielaSogge
ms.date: 06/19/2017
ms.topic: article
ms.prod: 
ms.technology: 

# optional metadata

ms.search.form: Hcmi9DocumentInquiry, Hcmi9DocumentTypeExpireList, Hcmi9DocumentType 
# ROBOTS: 
audience: Application User
# ms.devlang: 
ms.reviewer: twheeloc
# ms.tgt_pltfrm: 
ms.assetid: d740ddb6-b8d7-4c12-b920-1f8afa25d026
ms.search.region: USA
# ms.search.industry: 
ms.author: shielas
ms.search.validFrom: 2016-02-28
ms.dyn365.ops.version: AX 7.0.0

---

# Form I-9 verification

[!include [banner](../../includes/banner.md)]


[!INCLUDE [PEAP](../../../../includes/peap-1.md)]

This article provides information about Form I-9 verification. Employers must complete Form I-9 for all new employees who will be working in the United States. The form documents that the employer has verified the identity of the new employee, and that the employee is authorized to work in the United States.

The Immigration Reform and Control Act (IRCA) requires U.S. employers to verify the employment eligibility status of all newly hired employees, even U.S. citizens. IRCA makes it unlawful for employers to knowingly hire or continue to use unauthorized workers. 

To prove employment eligibility, employees must complete and sign a right to work form, Form I-9. Employers must be able to produce Form I-9 information if United States Immigration and Customs Enforcement (ICE) requests it. Additionally, companies must verify Form I-9 information again within three years of the date when the employee originally supplied the information. 

> [!NOTE]
> For complete guidelines about compliance with Form I-9, see the U.S. Citizenship and Immigration Services website ([www.uscis.gov](https://www.uscis.gov)). Search the site by using the keywords "Form I-9." 

You can collect, electronically store and retrieve, and verify Form I-9 information again from areas of the program that support employment processes. Here are some of the benefits of this functionality:

- It helps you make sure that all members of your workforce are legally authorized to work.
- It helps process Form I-9 verification information more efficiently.
- It helps improve the accuracy of Form I-9 information.
- It streamlines the retrieval of Form I-9 information to help government inspections go more smoothly.

You can use the document management system to upload and save signed Form I-9 documents for each employee. 

You can use the **Renew Form I-9 alarm list** report to identify employees whose Form I-9 information must be verified again. To prepare for a Bureau of Immigration and Customs Enforcement (BICE) inspection, you can use the **Form I-9** report to print Form I-9 information for all or selected employees.



[!INCLUDE[footer-include](../../../../includes/footer-banner.md)]
